.bar {
  padding: 8px 0;
  background-color: @bar-color;
  font-size: 30px;
  line-height: 30px;
  a {
    color: #FFF;
  }
  a:hover {
    color: #ECF0F1;
  }
  .menuButton {
  }
  .name {

  }

}

@media (max-width: 768px) {
  .bar .search {
    display: none;
  }

}
