@c1: #1ABC9C;
@c1Dark: darken(@c1, 10%);
@c1Light: lighten(@c1, 10%);

@c2: #2ECC71;
@c2Dark: darken(@c2, 10%);
@c2Light: lighten(@c2, 10%);

@c3: #3498DB;
@c3Dark: darken(@c3, 10%);
@c3Light: lighten(@c3, 10%);

@c4: #9B59B6;
@c4Dark: darken(@c4, 10%);
@c4Light: lighten(@c4, 10%);

@c5: #34495E;
@c5Dark: darken(@c5, 10%);
@c5Light: lighten(@c5, 10%);

@c6: #F1C40F;
@c6Dark: darken(@c6, 10%);
@c6Light: lighten(@c6, 10%);

@c7: #E67E22;
@c7Dark: darken(@c7, 10%);
@c7Light: lighten(@c7, 10%);

@c8: #E74C3C;
@c8Dark: darken(@c8, 10%);
@c8Light: lighten(@c8, 10%);

@c9: #ECF0F1;
@c9Dark: darken(@c9, 10%);
@c9Light: lighten(@c9, 10%);

@c10: #95A5A6;
@c10Dark: darken(@c10, 10%);
@c10Light: lighten(@c10, 10%);

//colors

.c1 {
  color: @c1;
}

.c2 {
  color: @c2;
}

.c3 {
  color: @c3;
}

.c4 {
  color: @c4;
}

.c5 {
  color: @c5;
}

.c6 {
  color: @c6;
}

.c7 {
  color: @c7;
}

.c8 {
  color: @c8;
}

.c9 {
  color: @c9;
}

.c10 {
  color: @c10;
}

//colors dark

.c1Dark {
  color: @c1Dark;
}

.c2Dark {
  color: @c2Dark;
}

.c3Dark {
  color: @c3Dark;
}

.c4Dark {
  color: @c4Dark;
}

.c5Dark {
  color: @c5Dark;
}

.c6Dark {
  color: @c6Dark;
}

.c7Dark {
  color: @c7Dark;
}

.c8Dark {
  color: @c8Dark;
}

.c9Dark {
  color: @c9Dark;
}

.c10Dark {
  color: @c10Dark;
}

//colors light

.c1Light {
  color: @c1Light;
}

.c2Light {
  color: @c2Light;
}

.c3Light {
  color: @c3Light;
}

.c4Light {
  color: @c4Light;
}

.c5Light {
  color: @c5Light;
}

.c6Light {
  color: @c6Light;
}

.c7Light {
  color: @c7Light;
}

.c8Light {
  color: @c8Light;
}

.c9Light {
  color: @c9Light;
}

.c10Light {
  color: @c10Light;
}

//backgrounds

.c1BG {
  background: @c1;
}

.c2BG {
  background: @c2;
}

.c3BG {
  background: @c3;
}

.c4BG {
  background: @c4;
}

.c5BG {
  background: @c5;
}

.c6BG {
  background: @c6;
}

.c7BG {
  background: @c7;
}

.c8BG {
  background: @c8;
}

.c9BG {
  background: @c9;
}

.c10BG {
  background: @c10;
}

// background dark
.c1DarkBG {
  background: @c1Dark;
}

.c2DarkBG {
  background: @c2Dark;
}

.c3DarkBG {
  background: @c3Dark;
}

.c4DarkBG {
  background: @c4Dark;
}

.c5DarkBG {
  background: @c5Dark;
}

.c6DarkBG {
  background: @c6Dark;
}

.c7DarkBG {
  background: @c7Dark;
}

.c8DarkBG {
  background: @c8Dark;
}

.c9DarkBG {
  background: @c9Dark;
}

.c10DarkBG {
  background: @c10Dark;
}

// background light
.c1LightBG {
  background: @c1Light;
}

.c2LightBG {
  background: @c2Light;
}

.c3LightBG {
  background: @c3Light;
}

.c4LightBG {
  background: @c4Light;
}

.c5LightBG {
  background: @c5Light;
}

.c6LightBG {
  background: @c6Light;
}

.c7LightBG {
  background: @c7Light;
}

.c8LightBG {
  background: @c8Light;
}

.c9LightBG {
  background: @c9Light;
}

.c10LightBG {
  background: @c10Light;
}