.label {
  border-radius: @global-radius;
  border: 1px solid @font-color;
  padding: 4px;
  color: @font-color;
}

.label.error {
  border-color: @error;
  color: @error;
}

.label.warning {
  border-color: @warning;
  color: @warning;
}

.label.primary {
  border-color: @primary-color;
  color: @primary-color;
}

.label.success {
  border-color: @success;
  color: @success;
}
