@import "normalize.less";
@import "colors.less";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  width: 100%;
  height: 100%;
}

#panel {
  background: #fff;
  height: 100%;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

@import "bar.less";
@import "menu.less";
@import "responsive.less";
@import "slideout.less";
@import "util.less";
