@light-grey: #e1e1e1;
@dark-grey: #333;
@primary-color: #33c3f0;
@secondary-color: lighten(@dark-grey, @darken-global);
@border-color: #bbb;
@link-color: darken(@primary-color,@darken-global);
@font-color: #222;
//@bar-color: #4285f4;
@bar-color: @primary-color;
@bg-color: #FFFFFF;

@green: #A3D36D;
@red: #FB6D57;

@error: @green;
@success: @red;

//@font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family: 'Lato', Calibri, Arial, sans-serif;

@container-width: 980px;
@breakpoint: 750px;

@global-radius: 4px;

@darken-global: 10%;

// nice colors stolen from paypal
// bg: #FFFFFF (other: #F7F9FA)
// block: #F7F9FA
// primary button: #009CDE
//  &:hover: #178BC3 (with fade)
// secondary button: #E1E7EB
//  &:hover: #D2DBE1