// Breakpoints
@bp-larger-than-mobile    : 400px;
@bp-larger-than-phablet   : 550px;
@bp-larger-than-tablet    : 750px;
@bp-larger-than-desktop   : 1000px;
@bp-larger-than-desktophd : 1200px;

// Extra small screen / phone
//480px;

// Small screen / tablet
//768px;

// Medium screen / desktop
//992px;

// Large screen / wide desktop
//1200px;

// Colors
@light-grey: #e1e1e1;
@dark-grey: #333;
@primary-color: #3BB1F0;
@secondary-color: #34495E;
@border-color: #bbb;
@link-color: #3BB1F0;
@font-color: #222;
@bar-color: #3BB1F0;

@bg-color: #F2F6F8;

// Typography
@font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Grid Variables
@container-width: 960px;
@container-width-larger-than-mobile: 85%;
@container-width-larger-than-phablet: 80%;

// Misc
@global-radius: 4px;