@breakpoint: 750px;
// Colors
@ggYellow: #F0C32C;
@ggOrange: #F09B29;
@light-grey: #e1e1e1;
@dark-grey: #333;
//@primary-color: #3BB1F0;
@primary-color: #4285f4;
@secondary-color: #34495E;
@border-color: #bbb;
@link-color: #3BB1F0;
@font-color: #222;
//@bar-color: #3BB1F0;
@bar-color:  #4285f4;
//@bar-color: #FFFFFF;
//@bar-color: @ggYellow;



//@bg-color: #F2F6F8;
@bg-color: #FFFFFF;

//@font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

@font-family: 'Lato', Calibri, Arial, sans-serif;

@container-width: 750px;

@global-radius: 4px;